
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

tr:nth-child(even){
    background-color: yellow;
}
.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

tr:nth-child(3){
    background-color: red;
}

tr:nth-child(5){
    background-color: red;
}

tr:nth-child(1){
    background-color: lightgray;
}
