


body{
    background-color: rgb(44, 42, 42);
    color: rgb(199, 194, 194);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto 70px;
    grid-template-areas:
    "header header"
    "main1 main2"
    "footer footer";
}



header{
    grid-area: header;
    background-color: rgb(66, 5, 5);
}



section{

}

main{
    grid-area: main1;
}

aside{
    grid-area: main2;
}

h1{
    text-align: center;
}

.me{
    border: 1px solid red ;
}

h1{
    font-size: 22px; font-family: Arial;
}

img{
    width:70%;
}

.program{
    text-align: left;
}

a{
    text-decoration: none;
}
footer{
    grid-area: footer;

}