body{
    margin: 0%;
    background-color: lightblue;
}

.circle{
    background: yellow;
    border-radius: 50%;
    width: 100vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}